<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>my-appstore</title>
</head>

<body>
    <header>
        <img src="/img/icon.png" alt="app logo">
    </header>
    {{{body}}}
</body>

</html>

