<h1>App: Home</h1>
<table border="2">
    <tbody>
        <tr>
            <th>应用</th>
            <th>版本</th>
            <th>描述</th>
            <th>下载</th>
        </tr>
        <tr>
            <td><img src="{{{info.icon}}}"}></td>
            <td>1.0.0</td>
            <td>template</td>
            <td>install</td>
        </tr>
        {{#each info.apps}}
        <tr>
            <td>{{name}}</td>
            <td>1.0.0</td>
            <td>temp</td>
            <td>install</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!--
<form action="/login" method="GET">
    <input type="text" name="account">
    <input type="password" name="password">
    <button type="submit">login</button>
</form>
-->

